<div>
  <% for(const item of items){%>
      <li><%= item.title %></li>
      <div>
        <%for (const item of items){%>
    <a href="<%=item.link %>"><%= item.title %></a>
      <p><%= item.creator %></p>
      <P><%= item.description %></P>
      <P><%= item.pubDate%></P>
      <p><%= item.contentSnippet %></p>
      <p>
        </p> 
      </li>
    <% }%>
    </div>
      <%}%>
      <p> 
      </p>
</div>


